@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Microservices Frontend</h1>

    <div id="content">
        <div id="pedidoFormContainer"></div>
        <div id="pedidoStatusContainer"></div>
    </div>
    <script src="~/js/pedido.js"></script>
</div>
